body {
    background-color: rgb(255, 255, 255);
}
.list{
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
}
.input-styles {
    border: 2px solid #ffffff;
    border-radius: 8px;
    outline: none;
    width: 250px;
}
.buttons-top {
    margin: 2%;
}
.btnAdd{
    margin: 2px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgb(80, 80, 80);
    color: white;
}
.btnDelete{
    margin: 2px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: grey;
    color: white;
}
p{
    border-color: rgb(255, 230, 0);
}
.button-bot{
    border: none;
    background-color: rgb(228, 228, 228);
}